@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gugi&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    min-width: 980px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR",
        "Roboto",
        "dotum",
        "sans-serif";
    color: black;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -0.03em;
}

a {
    text-decoration: none;
}

a,
input,
textarea {
    outline: none;
}

button,
a {
    cursor: pointer;
}

li {
    list-style: none;
}