@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.top-banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    text-align: center;
    
    z-index: 10;
}

.banner-img-wrap {
    position: relative;
    width: 980px;
    height: 80px;
}

.top-banner-img {
    position: relative;
}

.banner-close {
    position: absolute;
    top: 39%;
    right: 0;
    width: 20px;
    height: 20px;
    border: none;
    background: url(/static/images/close_19_wht.png) no-repeat;
    z-index: 1;
}

#header-section {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: linear-gradient(to bottom, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.fixed > .logo {
    display: none;
}

.fixed > .gnb {
    color: black;
    z-index: 1;
}

#header-section.fixed {
    position: fixed;
    background: none;
}

.fixed > #nav { 
    position: fixed;
    top: 0;
    margin: 0;
    background-color: white;
}

.fixed a {
    color: black;

}

.logo {
    margin-left: -109px;
    position: absolute;
    top: 18px;
    left: 50%;
    z-index: 1;
    width: 219px;
    height: 37px;
}

.gnb {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 71px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}


.g-menu1 {
    float: left;
    opacity: 0.5;
    margin-top: 40px;
    width: 224.19px;
    height: 14px;
    white-space: nowrap;
}

.facebook :first-child {
    background-image: url(/static/images/gnb_facebook_wht.png);
}

.youtube :first-child {
    background-image: url(/static/images/gnb_youtube_wht.png);
}

.instagram :first-child {
    background-image: url(/static/images/gnb_follow_wht.png);
    margin-right: 0;
}


.g-menu1 li {
    margin-right: 14px;
    display: inline-block;
}

.g-menu1 li a {
    padding-left: 16px;
    height: 14px;
    line-height: 14px;
    color: #fff;
}

.g-menu2 {
    display: flex;
    float: right;
    margin-top: 40px;
    opacity: 0.5;
}

.g-menu2 li {
    margin-left: 14px;
}

.g-menu2 li a {
    height: 14px;
    line-height: 14px;
    color: #fff;
}

.g-menu3 {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    top: 88px;
    right: 0;
    margin-top: 0;
    width: 205.81px;
    height: 14px;

}

.g-menu3 li {
    margin-left: 25px;
}

.g-menu-text {
    padding-left: 15px;
    height: 14px;
    line-height: 14px;
    font-size: 11px;
    color: #ccc;
}

.btn-menu-all {
    width: 17px;
    height: 11px;
}

.fixed .g-menu-text {
    color: black;
}

.btn-my :first-child {
    background-image: url(/static/images/nav_side_my_wht.png);
}

.btn-reverse :first-child {
    background-image: url(/static/images/nav_side_reserve_wht.png);
}

.g-menu-button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/static/images/nav_side_all_wht.png") no-repeat;
}

.fixed .btn-my :first-child {
    background-image: url(/static/images/nav_side_my_black.png);
}

.fixed .btn-reverse :first-child {
    background-image: url(/static/images/nav_side_reserve_black.png);
}

.fixed .g-menu-button {
    background: url("/static/images/nav_side_all_black.png") no-repeat;
}

#nav {
    display: flex;
    justify-content: center;
    margin: 3px auto 0;
    text-align: center;
    width: 100%;
    height: 40px;

}

/* .fixed {
    position: fixed;
    top: 0;
    left: 0;
} */

.main-nav {
    display: flex;
}

.main-nav-title   {
    position: relative;
    display: block;
    padding: 0 24px;
    line-height: 40px;
    height: 40px;
    
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
}

.main-nav-detail:not(:first-child)>a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 9px;
    margin-top: -5px;
    border-left: 1px solid #707070;
}

.main-nav-detail:hover {
    border-bottom: 2px solid red;
}

.main-nav-detail:hover .nav-nav1 {
    opacity: 0;

    animation: fadeInText 0.2s 0.1s ease-out forwards;
    display: block;
}

.fixed .main-nav-detail:hover .nav-nav1 {
    top: 40px;
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}

.nav-nav1 li:hover .nav-nav2 {
    display: block;
}



.main-nav-detail {
}

.display-none {
    display: none;
}

.nav-nav1 {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 114px;
    width: 100%;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.7);
}

.fixed .nav-nav1 {
    background-color: rgba(255, 255, 255, 0.9);
}


.nav-nav1>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    
}

.nav-nav1>ul>li {
    margin: 0 10px;
    
}
.nav-nav1>ul>li>a {
    padding: 0 5px;
    display: block;
    opacity: 0.5;
    color: #fff;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    white-space: nowrap;
}

.fixed .nav-nav1>ul>li>a {
    opacity: 0.6;
    color: #000;
}


.nav-nav2>ul>li>a {
    padding: 0 5px;
    display: block;
    opacity: 0.5;
    color: #fff;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    white-space: nowrap;
    
}

.nav-nav2 {
    position: absolute;
    display: none;
    z-index: 2;
    left: 0;
    right: 0;
    top: 38px;
    text-align: center;
    background-color: #000;
}

.nav-nav2 ul {
    margin: 10px auto;
    width: 980px;
    height: auto;
}

.nav-nav2>ul>li {
    margin: 0 5px;
    display: inline-block;
}


#sub-section {
    position: relative;
    width: 100%;
    height: 2365.11px;
}

.visual-ad {
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.slide-stage {
    max-width: 100%;
    min-width: 1000px;
    height: 774px;
}
.slide-img {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 100%;
}

.slide-action {
    transform: translate3d(1920px,0,0);
}

.slide-img > li {
    display: block;
    width: auto;
    height: 100%;
}

.slide-img>li>div {
    position: relative;
}

.slide-img>li>div>img {
    width: 1920px;
    height: 774px;
    z-index: 1;
}

.slide-img>li>div::after {
    content: "";
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 140px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
}

.active {
    z-index: 1;
}

.slide-btn {
    margin-top: -10px;
    position: absolute;
    width: 100%;
    top: 400px;
    left: 0;
    z-index: 10;
}

.left-btn {
    position: absolute;
    top: 0;
    left: 30px;
    width: 31px;
    height: 60px;
    margin-top: -15px;
    background-size: auto;
    background-image: url(/static/images/arr_lf_31_wht.png);
    opacity: 0.6;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.left-btn :hover {

}

.right-btn {
    position: absolute;
    margin-top: -15px;
    background-size: auto;
    background-image: url(/static/images/arr_rg_31_wht.png);
    top: 0;
    right: 30px;
    width: 31px;
    height: 60px;

    opacity: 0.6;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.dot-btns {
    display: flex;
    width: 60px;
    justify-content: space-between;
    position: absolute;
    right: 16%;
    top: 29%;
    z-index: 2;
}

.dot-btn {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    border: none;
}

.dot-btn.active {
    opacity: 1;
}

.dot-btn>span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    pointer-events: none;
}

#main-banners {
    position: absolute;
    top: 714px;
    left: 0;
    width: 100%;
    height: 405px;
    background-color: rgba(0, 0, 0, 1);
}

.banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1040px;
    width: 100%;
    height: 100%;
}

.date {
    position: absolute;
    top: 8px;
    right: 9px;
    z-index: 2;
    color: white;
}

.banner-list {
    position: relative;
    padding-top: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 980px;
    height: auto;
}

.poster-img-box {
    position: relative;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 184px;
}

.poster-img-box > span,
.poster-img-box > .banner-desc > span {
    pointer-events: none;
}

.over-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.7);
}

.box-in {
    margin-bottom: 15px;
    padding: 0 14px;
    width: 148px;
    height: 28px;

    border: 2px solid #fff;
    border-radius: 4px;

    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    color: white;
}

.banner-list > li> img {
    width: 100%;
    height: 262px;
}


.banner-list>li>span {
    padding-left: 10px;
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0;
    height: 23px;

    font-weight: bold;
    font-size: 26px;
    color: white;
    font-style: italic;
    text-align: left;
}

.banner-desc {
    padding-top: 20px;
    width: 184px;
    height: 53.89px;
}

.banner-title {
    display: inline-block;
    margin-bottom: 6px;
    width: 184px;
    height: 14.3px;

    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-align: center;

}

.scores {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    height: 13.59px;
}

.scores > span {
    position: relative;
}

.scores :nth-child(1)::after,
.scores :nth-child(2)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    right: -8px;
    width: 1px;
    height: 8px;
    background: #B2B2B2;
}
    
.scores :nth-last-child(1) {
    position: relative;
    top: -2px;
    margin-left: 15px;
    padding-left: 15px;
    background-image: url(/static/images/heart_rnd_16_off.png);
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.star{
    background-image: url(/static/images/ic_star.png);
    color: white;
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 11px;
}


.scores :nth-last-child(3) {
   margin-left: 10px;
   padding-left: 0;
   color: white;
}


.d-day{
    padding-left: 5px;
    margin-left: 12px;
    background-image: none;
    color: #ed4c6b;
    font-size: 11px;
    
}



#content {
    margin: 400px auto 0;
    width: 980px;
    height: 1591.11px;
}

.movie-current-list {
    margin-top: -100px;
    margin-bottom: 70px;
    width: 100%;
    height: 384.89px;
    background-color: #ccc;
}

.sec-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;

    border-bottom: 1px dashed #d9d9d9;
}

.sec-title>span {
    padding-bottom: 10px;

    display: block;
    font-size: 17px;
}

.sec-title>a {
    font-size: 10px;
    line-height: 29px;
    color: #666;
}

.ad-list-wrap {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
}

#main-special-cinema {
    margin-bottom: 33px;
    width: 100%;
    height: 101.69px;
}

#main-event-list {
    margin-bottom: 33px;
    width: 100%;
    height: 540.69px;
}

.event {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18.69px;
}

.event>span {

    display: block;
    font-size: 17px;
}

.event>a {
    font-size: 10px;
    line-height: 29px;
    color: #666;
}

.event-wrap {
    display: flex;
    justify-content: space-between;
}

.event-wrap img {
    border-radius: 4px;
}

.event-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 671px;
}

.event-list-box {
    
    display: flex;
    justify-content: space-between;
}

.event-list-box2 {
    display: flex;
    justify-content: space-between;
}


.main-cont-premiere {
    margin: 15px 0 53px 0;
    width: 100%;
    height: 215.61px;
}

.premiere-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18.69px;
}

.premiere-title>span {

    display: block;
    font-size: 17px;
}

.premiere-title>a {
    font-size: 10px;
    line-height: 29px;
    color: #666;
}

.premiere-img-wrap {
    display: flex;
    justify-content: space-between;
}

.premiere-img-wrap img {
    border-radius: 4px;
}




.mid-menu-wrap {
    margin-bottom: 50px;
    width: 100%;
    height: 133px;
}

.mid-items-wrap {
    display: flex;
    justify-content: space-between;
}

.main-cont-notice {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    height: 26.23px;
    border-bottom: 1px solid #aaa;
}

.notice {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 18.69px;
}

.notice>span {
    padding-right: 20px;
    display: block;
    height: 13px;
    font-size: 13px;
    border-right: 1px solid black;
}

.notice>a {
    font-size: 10px;
    line-height: 29px;
    color: #666;
}

.rolling-menu-wrap {
    position: absolute;
    top: -2px;
    left: 90px;
    width: 210px;
    height: 19px;
    
}

.rolling-menu-wrap>li>a {
    line-height: 19px;
    font-size: 13px;
}


#banner-section {
    padding-top: 70px;
    width: 100%;
    height: 540px;
}

.banner-01 {
    text-align: center;
    margin-bottom: 49px;

}

.banner-02 {
    background-color: rgb(0, 92, 185);
    background-image: url(/static/images/background-img.jpg);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    text-align: center;
}



#footer-section {
    padding-top: 80px;
    width: 100%;
    height: 349.38px;
}

.inner {
    margin: 0 auto;
    width: 980px;
    height: 137.38px;
}

.article-award {
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
    height: 82px;
}

.footer-logo {
    margin-bottom: 20px;
    width: 100%;
    height: 36px;
}

.footer-navi {
    margin-bottom: 20px;
    display: flex;
}

.footer-navi>li {
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer-navi :nth-child(1) {
    padding-left: 0;
    border-left: none;
}

.footer-navi a {
    font-size: 12px;
}

.address-box {
    width: 100%;
    height: 36px;
}


.address-box >span {
    display: inline-block;
    margin-bottom: 7px;
    padding-left: 10px;
    margin-right: 10px;
    line-height: 11px;
    height: 10px;
    color: #4d4d4d;
    border-left: 1px solid #707070;
}

.address-box :nth-child(1) {
    padding-left: 0px;
    border-left: none;
}

.address-box :nth-child(4) {
    padding-left: 0px;
    border-left: none;
}
.inner > span {
    line-height: 12px;
    color: #4d4d4d;
}

.article-award {
    background-color: #f5f5f5;
    text-align: center;
}

.article-award img {
    margin-right: 6px;
}

